@import "bulma/bulma";

.nav-bar-background {
  background-color: #989898;
}

.nav-bar-wrapper {
  display: flex;
  align-items: center;
}

.container-todo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-wrapper {
  width: 80%;
}

.todo-control-wrapper,
.todo-control {
  width: 100%;
}

.todo-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-box-completed { 
    background-color: #90EE90;
    text-decoration: line-through;
}

.todo-box-white { 
  background-color: white;
}

.navbar-item img.logo {
  max-width: 50px;
  max-height: 50px;
}
